.table {
    border-collapse: collapse;
}

thead {
    background-color:  #f0908d;
}

.table-head-number {
    width: 50px;
}

td{
    background-color: #CAE8E2;

}

.table-number {
    background-color: #CAE8E2;
}

.page {
    display: grid;
    grid-template-columns: 1fr auto;
}

.page-header {
    display: contents;
}

.page-header-button {
    display: flex;
    align-items: end;
}

.time {
    white-space: nowrap;
}

.test-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text{
    white-space: nowrap;
}

