p {
    margin: 0%;
}

/* title */

.content-title-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.content-title-input {
    grid-column: 1;
    grid-row: 2;
}

/* content */

.content-content-area {
    display: grid;
    grid-template-columns: 1fr;
}

.content-content-input{
    height: 300px;
    vertical-align:top;
}

/* footer */

.content-footer-area {
    display: flex;
    width: 100%;
    justify-content: right;
}